.scroll-sec{
    padding: 0 2em;
    overflow: hidden;
    white-space: nowrap;
}
.scroll{
    display: flex;
    transition: all linear 5s;
}
.scroll-line{
    animation: scroll 10s linear infinite;
}
.scroll-line-rev{
    animation: scroll 10s linear infinite reverse;
}
.line:hover{
    background: #34A0A4;
}
.line{
    transition: all linear 400ms;
    cursor: default;
    margin: 0 1em;
    background: #1e1e1e;
    display: inline-block;
    border-radius: 1em;
}
@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}